@value colors: "./colors.css";
@value grey800 from colors;

.wrapper {
  border-radius: 4px;
  /*opacity: 0;*/
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  /* Appbarのデフォルトのz-indexが1100のため */
  z-index: 1101;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: grey800;
}
